.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.sider {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

.site-layout {
  min-height: 100vh;
}

.site-layout-header {
  background: #fff;
  position: fixed;
  left: 203px;
  right: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerContent {
    margin-right: 20px;
    display: flex;
    align-items: center;

    .user, .avatar {
      margin-left: 20px;
    }
  }
}


.site-layout .site-layout-background {
  background: #fff;
  
}
.layout-content {
  padding-top: 72px;
  margin: 0 16px;
  box-sizing: border-box;
}